{% extends "dashboard/base.html" %}
{% load static %}
{% load dashboard_filters %}
{% block title %}Koli Rapor{% endblock %}
{% block icon %}pe-7s-box2 icon-gradient bg-happy-itmeo{% endblock %}
{% block pagetitle %}Koli Rapor{% endblock %}
{% block pagesubtitle %}Koli Rapor{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Koli Giriş Çıkışları</h5>
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>Tarih</th>
                            <th>Model</th>
                            <th>Numara</th>
                            <th>Koli Adedi</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for degisiklik in koli_son_degisiklikler %}
                        <tr>
                            <th scope="row">{{ degisiklik.tarih|date:'j/n/Y G:i' }}</th>
                            <td>{{ degisiklik.get_mamul_model_display }}</td>
                            <td>{{ degisiklik.koli_turu }}</td>
                            <td>{{ degisiklik.koli_adet }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a href="{% url 'dashboard:kolirapor' %}?istek=deg_tumu">Tümünü gör</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Koli Stok Durumu</h5>
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>Modeller</th>
                            <th>Tarih: {{ durum.tarih|date:'j/n/Y' }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for field in durum.fields %}
                        <tr>
                            <th colspan="2" style="text-align:center;">{{ field.0 }}</th>
                        </tr>
                        {% for material in field.1 %}
                        <tr>
                            <th><a href="{% url 'dashboard:kolirapor_tek_detay' material.2 %}">{{ material.0 }}</a></th>
                            <td>{{ material.1|ksdpackonly }}</td>
                        </tr>
                    {% endfor %}{% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a href="{% url 'dashboard:kolirapor' %}?istek=son_tumu">Geçmiş bir gün için stok durumu sorgula</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
