{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Hesap Ayarları{% endblock %}
{% block icon %}pe-7s-user icon-gradient bg-malibu-beach{% endblock %}
{% block pagetitle %}Hesap Ayarları{% endblock %}
{% block pagesubtitle %}Bu sayfadan bazı hesap ayarlarınızı değiştirebilirsiniz. Değiştiremediğiniz alanları değiştirmek için lütfen <a href="{% url 'dashboard:contact' %}">sistem yöneticisiyle iletişime geçin.</a>{% endblock %}
{% block content %}
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Hesap Ayarları</h5>
        <form method="POST" class="">
		    {% csrf_token %}
            {% for field in formu %}
            <div class="position-relative row form-group">
                <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                <div class="col-sm-10">{{ field }}</div>
            </div>
            {% endfor %}
            {% for field in formp %}
            <div class="position-relative row form-group">
                <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                <div class="col-sm-10">{{ field }}</div>
            </div>
            {% endfor %}
            <div class="position-relative row form-check">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}