{% extends "dashboard/base.html" %}
{% load static %}
{% load dashboard_filters %}
{% block title %}{{ title }}{% endblock %}
{% block icon %}pe-7s-monitor icon-gradient bg-mean-fruit{% endblock %}
{% block pagetitle %}{{ title }}{% endblock %}
{% block pagesubtitle %}Anasayfa{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-midnight-bloom">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Aylık Üretim</div>
                    <div class="widget-subheading">Geçen ay üretilen toplam ayakkabı</div>
                </div>
                {% with uretim=cizgi_grafik_veri.1|last %}
                <div class="widget-content-right" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ uretim }}">
                    <div class="widget-numbers text-white"><span>{{ uretim|humanize_int }}</span></div>
                </div>
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-arielle-smile">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Birinci Kalite Yüzdesi</div>
                    <div class="widget-subheading">Birinci / ikinci kalite oranı</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>%{{ birinci_kalite_oran }}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-grow-early">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Aylık Satış</div>
                    <div class="widget-subheading">Geçen ay satılan toplam ayakkabı</div>
                </div>
                {% with satis=cizgi_grafik_veri.2|last %}
                <div class="widget-content-right" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ satis }}">
                    <div class="widget-numbers text-white"><span>{{ satis|humanize_int }}</span></div>
                </div>
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="d-xl-none d-lg-block col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-premium-dark">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Toplam Koli</div>
                    <div class="widget-subheading">Stoktaki toplam koli sayısı</div>
                </div>
                <div class="widget-content-right" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ toplam_koli }}">
                    <div class="widget-numbers text-warning"><span>{{ toplam_koli|humanize_int }}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                    Aylık Üretim
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tabs-eg-77">
                        <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                            <div class="widget-chat-wrapper-outer">
                                <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                                    <div style="height: 350px;">
                                        <canvas id="aylik-uretim-grafik"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">
                            Son Değişiklikler</h6>
                        <div class="scroll-area-sm">
                            <div class="scrollbar-container">
                                <ul class="rm-list-borders rm-list-borders-scroll list-group list-group-flush">
                                {% for row in son_bes %}
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-3">
                                                {% if row.kullanici.profile.photo %}
                                                    <img width="42" class="rounded-circle" src="/uploadedmedia/{{ row.kullanici.profile.photo }}" alt="">
                                                {% else %}
                                                    <img width="42" class="rounded-circle" src="{% static 'dashboard/images/avatars/default_avatar.png' %}" alt="">
                                                {% endif %}
                                                </div>
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">{{ row.kullanici.get_full_name }}</div>
                                                    <div class="widget-subheading">{{ row.kullanici.profile.title }}</div>
                                                </div>
                                                <div class="widget-content-right" data-toggle="tooltip" data-placement="bottom" data-original-title="Tarih: {{ row.tarih }}">
                                                    <div class="font-size-xlg text-muted">
                                                        <small class="pr-1">{{ row.get_mamul_model_display }}({{ row.koli_turu }})</small>
                                                        <span>{{ row.koli_adet|abs }}</span>
                                                        <small class="text-{% if row.koli_adet < 0 %}danger{% else %}success{% endif %} pl-2">
                                                            <i class="fa fa-angle-{% if row.koli_adet < 0 %}down{% else %}up{% endif %}"></i>
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title">
                    <i class="header-icon lnr-rocket icon-gradient bg-tempting-azure"> </i>
                    Birinci Sınıf Yüzdesi
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="tab-eg-55">
                    <div class="widget-chart p-3">
                        <canvas id="pasta-grafik"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
var aylik_uretim_config = {
    type: 'line',
    data: {
        labels: {{ cizgi_grafik_veri.0|safe }},
        datasets: [{
            label: 'Üretim',
            backgroundColor: window.chartColors.green,
            borderColor: window.chartColors.green,
            data: {{ cizgi_grafik_veri.1 }},
            fill: false,
        }, {
            label: 'Satış',
            fill: false,
            backgroundColor: window.chartColors.blue,
            borderColor: window.chartColors.blue,
            data: {{ cizgi_grafik_veri.2 }},
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        title: {
            display: true,
            text: 'Aylık Üretim ve Satış'
        },
        tooltips: {
            mode: 'index',
            intersect: false,
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Aylar'
                }
            }],
            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Değerler'
                }
            }]
        }
    }
};

var pasta_config = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [
                        {{ kalite1 }},
                        {{ kalite2 }},
                    ],
                    backgroundColor: [
                        window.chartColors.green,
                        window.chartColors.red,
                    ],
                    label: 'Kalite'
                }],
                labels: [
                    'Birinci Kalite',
                    'İkinci Kalite',
                ]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                    display: ((screen.width < 450) ? false : true)
                },
                title: {
                    display: true,
                    text: 'Birinci / İkinci Kalite'
                },
                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        };

$(document).ready(function(event) {
            var aylik_uretim_ctx = document.getElementById('aylik-uretim-grafik').getContext('2d');
            window.cizgiGrafik = new Chart(aylik_uretim_ctx, aylik_uretim_config);
            var pasta_ctx = document.getElementById('pasta-grafik').getContext('2d');
            window.pastaGrafik = new Chart(pasta_ctx, pasta_config);
        });
</script>
{% endblock %}
