{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Hammadde Ekle/Çıkar{% endblock %}
{% block pagetitle %}Hammadde Ekle/Çıkar{% endblock %}
{% block pagesubtitle %}Bu sayfadan stok içeriğine hammadde eklemesi ve çıkarması yapılır. {% endblock %}
{% block content %}
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Hammadde Ekle / Çıkar</h5>
        <form method="POST">
		    {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-lg">Kaydet</button>
            {% if successful == "True" %}
            
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
{% block modal %}
{% if messages %}
<button type="button" id="modalbutton" data-toggle="modal" data-target=".bd-example-modal-sm" style="display: none;"></button>

<script type="text/javascript">
window.onload = function() {
            document.getElementById("modalbutton").click();
        };
</script>

<div class="modal fade bd-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="SmallModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Mesaj</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for message in messages %}<p>{{ message }}</p>{% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
