{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Hammadde Ekle/Çıkar{% endblock %}
{% block pagetitle %}Hammadde Ekle/Çıkar{% endblock %}
{% block pagesubtitle %}Bu sayfadan stok içeriğine hammadde eklemesi ve çıkarması yapılır. {% endblock %}
{% block content %}
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Hammadde Ekle / Çıkar</h5>
        <form method="POST">
		    {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-lg">Kaydet</button>
            {% if successful == "True" %}
            
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
