{% load static %}
<!doctype html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="tr">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sistem Yöneticisi - Özer Lastik &amp; Ayakkabı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Content shall be here.">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="shortcut icon" href="{% static 'dashboard/images/icon.png' type='image/x-icon' %}">
    <link rel="manifest" href="{% static 'dashboard/manifest.json' %}">
    <!--
    =========================================================
    * ArchitectUI HTML Theme Dashboard - v1.0.0
    =========================================================
    * Product Page: https://dashboardpack.com
    * Copyright 2019 DashboardPack (https://dashboardpack.com)
    * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
    =========================================================
    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    -->
    <link href="{% static "dashboard/main.css" %}" rel="stylesheet">
</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100 bg-happy-itmeo bg-animation">
                <div class="d-flex h-100 justify-content-center align-items-center">
                    <div class="mx-auto col-md-8">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Sistem Yöneticisi</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-outer">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-3 mb-3 ml-3">
                                                    <img width="75" class="rounded-circle" src="{% static 'dashboard/images/avatars/sysdev.jpg' %}" />
                                                </div>
                                                <div class="widget-content-left">
                                                    <h5 class="card-title">Musa Ecer</h5>
                                                    <h6 class="card-subtitle">Makine Mühendisi - Deney &amp; Raporlama Sorumlusu</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="widget-content p-0">
                                                <div class="widget-content-outer">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left">
                                                            <div class="widget-heading"><a href="mailto:musaecer@gmail.com">musaecer@gmail.com</a></div>
                                                            <div class="widget-subheading">E-Mail</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="widget-content p-0">
                                                <div class="widget-content-outer">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left">
                                                            <div class="widget-heading"><a href="tel:+905512029099">+90 (551) 202 90 99</a></div>
                                                            <div class="widget-subheading">Telefon</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" onclick="window.location.href = '{% url "dashboard:anasayfa" %}';">Anasayfaya Dön</button>
                                </div>
                            </div>
                        </div>
                        <div class="text-center text-white opacity-8 mt-3">Özer Lastik &copy; Ocak 2020 &bull; <a href="{% url 'dashboard:lisans' %}" style="color: #fff;">LICENSES</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static "dashboard/scripts/main.js" %}"></script>
</body>

</html>