{% extends "dashboard/base.html" %}
{% load static %}
{% load dashboard_filters %}
{% block title %}Koli Rapor{% endblock %}
{% block icon %}pe-7s-box2 icon-gradient bg-happy-itmeo{% endblock %}
{% block pagetitle %}Koli Rapor{% endblock %}
{% block pagesubtitle %}Gün Bazlı Stok dataları{% endblock %}
{% block content %}
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Gün Bazlı Stok dataları</h5>
        <form method="POST">{% csrf_token %}{{ form }}<button type="submit" class="btn btn-primary">Ara</button></form>
        {% if data %}
        <table class="mb-0 table table-hover">
            <thead>
                <tr>
                    <th>Modeller</th>
                    <th>Tarih: {{ data.tarih|date:'j/n/Y' }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Krep Kısa Konç</th>
                    <td>{{ data.KrepKisaKonc|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Krep Uzun Konç</th>
                    <td>{{ data.KrepUzunKonc|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Krep Garson Kısa</th>
                    <td>{{ data.KrepGarsonKisa|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Krep Garson Uzun</th>
                    <td>{{ data.KrepGarsonUzun|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Krep Kahve Bot</th>
                    <td>{{ data.KrepKahveBot|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Krep Siyah Bot</th>
                    <td>{{ data.KrepSiyahBot|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Krep Çelik Burunlu Çizme</th>
                    <td>{{ data.KrepCelikBurunluCizme|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Kasık Çizme</th>
                    <td>{{ data.KasikCizme|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Filet Bezli</th>
                    <td>{{ data.FiletBezli|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Zenne Bezli</th>
                    <td>{{ data.ZenneBezli|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Merdane Bezli</th>
                    <td>{{ data.MerdaneBezli|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Merdane Fanilalı</th>
                    <td>{{ data.MerdaneFanilali|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Zenne İskarpin</th>
                    <td>{{ data.ZenneIskarpin|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Merdane İskarpin</th>
                    <td>{{ data.MerdaneIskarpin|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Garson İskarpin</th>
                    <td>{{ data.GarsonIskarpin|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Pres Çizme OB</th>
                    <td>{{ data.PresCizmeOB|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Pres Çizme S4</th>
                    <td>{{ data.PresCizmeS4|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Pres Çizme S5</th>
                    <td>{{ data.PresCizmeS5|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Elektrikçi OB</th>
                    <td>{{ data.ElektrikciOB|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Elektrikçi S4</th>
                    <td>{{ data.ElektrikciS4|ksdpackonly }}</td>
                </tr>
                <tr>
                    <th>Elektrikçi S5</th>
                    <td>{{ data.ElektrikciS5|ksdpackonly }}</td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
$(document).ready(function(event) {
    $('#id_gun').attr('type','date')
});
</script>
{% endblock %}