{% extends "dashboard/base.html" %}
{% load static %}
{% load dashboard_filters %}
{% block title %}Koli Rapor{% endblock %}
{% block icon %}pe-7s-ticket icon-gradient bg-happy-itmeo{% endblock %}
{% block pagetitle %}Koli Rapor{% endblock %}
{% block pagesubtitle %}Koli Rapor{% endblock %}
{% block content %}
{% if istek %}
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Koli Giriş Çıkışları</h5>
        <table class="mb-0 table table-hover">
            <thead>
                <tr>
                    <th>Tarih</th>
                    <th>Model</th>
                    <th>Koli Türü</th>
                    <th>Adet</th>
                </tr>
            </thead>
            <tbody>
            {% for degisiklik in koli_son_degisiklikler %}
                <tr>
                    <th scope="row">{{ degisiklik.tarih|date:'j/n/Y G:i' }}</th>
                    <td>{{ degisiklik.get_mamul_model_display }}</td>
                    <td>{{ degisiklik.koli }}</td>
                    <td>{{ degisiklik.adet }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a href="{% url 'dashboard:kolirapor' %}?istek=deg_tumu">Tümünü gör</a>
    </div>
</div>
{% elif tarih %}
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Koli Giriş Çıkışları</h5>
        <table class="mb-0 table table-hover">
            <thead>
                <tr>
                    <th>Tarih</th>
                    <th>Model</th>
                    <th>Numara</th>
                    <th>Adet</th>
                </tr>
            </thead>
            <tbody>
            {% for degisiklik in koli_son_degisiklikler %}
                <tr>
                    <th scope="row">{{ degisiklik.tarih|date:'j/n/Y G:i' }}</th>
                    <td>{{ degisiklik.get_mamul_model_display }}</td>
                    <td>{{ degisiklik.numara }}</td>
                    <td>{{ degisiklik.adet }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a href="{% url 'dashboard:kolirapor' %}?istek=deg_tumu">Tümünü gör</a>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Koli Giriş Çıkışları</h5>
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>Tarih</th>
                            <th>Model</th>
                            <th>Koli Türü</th>
                            <th>Çift Adedi</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for degisiklik in koli_son_degisiklikler %}
                        <tr>
                            <th scope="row">{{ degisiklik.tarih|date:'j/n/Y G:i' }}</th>
                            <td>{{ degisiklik.get_mamul_model_display }}</td>
                            <td>{{ degisiklik.koli }}</td>
                            <td>{{ degisiklik.adet }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a href="{% url 'dashboard:kolirapor' %}?istek=deg_tumu">Tümünü gör</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Gün Bazlı Koli Durumları</h5>
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>Tarih</th>
                            <th>Krep Kısa Konç</th>
                            <th>Filet Bezli</th>
                            <th>Pres Çizme OB</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for durum in koli_son_son_durum %}
                        <tr>
                            <th scope="row">{{ durum.tarih|date:'j/n/Y' }}</th>
                            <td>{{ durum.KrepKisaKonc|ksdpackonly }}</td>
                            <td>{{ durum.FiletBezli|ksdpackonly }}</td>
                            <td>{{ durum.PresCizmeOB|ksdpackonly }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a href="{% url 'dashboard:kolirapor' %}?istek=son_tumu">Tümünü gör</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
