{% load static %}
<!doctype html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="tr">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Licenses - Özer Lastik &amp; Ayakkabı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Content shall be here.">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="shortcut icon" href="{% static 'dashboard/images/icon.png' type='image/x-icon' %}">
</head>

<body>
{% autoescape off %}
<div style="font-family: monospace; white-space: pre;">{{ licenses }}</div>
{% endautoescape %}
</body>

</html>
