{% load static %}
<!doctype html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    {% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0; URL={% url 'dashboard:anasayfa' %}" />
</head>
</html>
    {% else %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="tr">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Giriş Yap - Özer Lastik &amp; Ayakkabı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Özer Lastik Ayakkabı Dashboard">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="shortcut icon" href="{% static 'dashboard/images/icon.png' type='image/x-icon' %}">
    <link rel="manifest" href="{% static 'dashboard/manifest.json' %}">
    <!--
    =========================================================
    * ArchitectUI HTML Theme Dashboard - v1.0.0
    =========================================================
    * Product Page: https://dashboardpack.com
    * Copyright 2019 DashboardPack (https://dashboardpack.com)
    * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
    =========================================================
    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    -->
    <link href="{% static "dashboard/main.css" %}" rel="stylesheet">
</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100 bg-grow-early bg-animation">
                <div class="d-flex h-100 justify-content-center align-items-center">
                    <div class="mx-auto col-md-8">
                        <div class="mx-auto mb-3" style="height: 74px; width: 300px; background: url({% static "dashboard/images/logo.png" %});"></div>
                        <div class="modal-dialog w-100 mx-auto">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="h5 modal-title text-center">
                                        <h4 class="mt-2" style="margin-bottom:1.5rem;">
                                            <div style="opacity:0.6;">Hoş geldiniz,</div>
                                            <span style="font-size:1.1rem;">Lütfen giriş yapınız</span>
                                        </h4>
                                    </div>
                                    {% if form.errors %}
                                    <h5 class="mb-0" style="font-size: 14px;font-weight: 700;display: block;padding: 10px 12px;margin: 0 0 10px 0;color: #ba2121;border: 1px solid #ba2121;border-radius: 4px;background-color: #fff;background-position: 5px 12px;">Yanlış kullanıcı adı / şifre girdiniz. Lütfen girdiğiniz verilerin doğruluğundan emin olun.</h5>
                                    <br />
                                    {% endif %}
                                    <form method="POST" class="">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <input name="{{ form.username.html_name }}" autofocus
                                                        id="{{ form.username.id_for_label }}" placeholder="Kullanıcı adı" type="text"
                                                        class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <input name="{{ form.password.html_name }}"
                                                        id="{{ form.password.id_for_label }}" placeholder="Şifre"
                                                        type="password" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divider"></div>
                                        <h6 class="mb-0">Hesabınız yok mu? <a href="{% url 'dashboard:iletisim' %}"
                                                class="text-primary">Yöneticiyle iletişime geçin.</a></h6>
                                        <div class="modal-footer clearfix">
                                            
                                            <div class="float-left"><a href="{% url 'dashboard:iletisim' %}"
                                                    class="btn-lg btn btn-link">Şifremi Unuttum</a></div>
                                            <div class="float-right">
                                                <button type="submit" class="btn btn-primary btn-lg">Panele Giriş Yap</button>
                                                {% if next %}
                                                <input type="hidden" name="next" value="{{ next }}">
                                                {% else %}
                                                <input type="hidden" name="next" value="{% url 'dashboard:anasayfa' %}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="text-center text-white opacity-8 mt-3">Özer Lastik &copy; Ocak 2020 &bull; <a href="{% url 'dashboard:lisans' %}" style="color: #fff;">LICENSES</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static "dashboard/scripts/main.js" %}"></script>
</body>

</html>
{% endif %}

